<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Lanlink finds other devices on your Wi-Fi and sends files to them.</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_lanlink._tcp</string>
  </array>
</dict>
</plist>
